<div class="ibox ">
    <div class="ibox-content">
        <h2 class="text-center">{{ campaign.name }}</h2>
        <ul class="todo-list m-t small-list ui-sortable">
            <li>
                <span class="m-l-xs">Product:&nbsp;{{ campaign.productName }}</span>
            </li>
            <li>
                <span class="m-l-xs">Calculation:&nbsp;{{ campaign.calculationMethod }}</span>
            </li>
            <li>
                <span class="m-l-xs">Budget:&nbsp;{{ campaign.budget }}</span>
            </li>
            <li>
                <span class="m-l-xs">Weeks:&nbsp;{{ campaign.weeks }}</span>
            </li>
        </ul>
        <div class="form-group row">
            <div class="col-lg-12">
                <a class="btn btn-block btn-outline btn-default"
                   [routerLink]="['/campaigns/' + campaign.id]"
                >View</a>
            </div>
        </div>
    </div>
</div>



