<div id="wrapper">
    <div id="page-wrapper" class="gray-bg transition-margin-left-1s">
<!--        <div class="row border-bottom">-->
<!--            <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">-->
<!--                <div class="navbar-header">-->
<!--                    navbar-header-->
<!--                </div>-->
<!--                <ul class="nav navbar-top-links navbar-right">-->

<!--                    <li>-->
<!--                        <span class="m-r-sm text-muted welcome-message">Welcome, Admin</span>-->
<!--                    </li>-->

<!--                    <li>-->
<!--                        <a href="login.html">-->
<!--                            <i class="fa fa-sign-out"></i> Log out-->
<!--                        </a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </nav>-->
<!--        </div>-->

        <router-outlet></router-outlet>
    </div>
</div>
